@page
@model ActividadesSugeridasMomentos.Pages.ActividadesSugeridas.DetailsModel

@{
    ViewData["Title"] = "Details";
}



<h2>Detalles de Actividad Sugerida</h2>
<div>
    <hr />
    <dl>
        <dt>
            Id
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_cat_actividades_sugeridas.IdActividadSugerida)
        </dd>
        <dt>
            Tema
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_cat_actividades_sugeridas.Tema)
        </dd>
        <dt>
            Descripción
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_cat_actividades_sugeridas.DesActividad)
        </dd>
        <dt>
            Tipo
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_cat_actividades_sugeridas.TipoActividadesSugeridas.DesTipoActividadSug)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-default btn-md active" role="button" asp-page="./Edit" asp-route-id="@Model.eva_cat_actividades_sugeridas.IdActividadSugerida">Editar</a> |
    <a class="btn btn-info btn-md active" role="button" asp-page="./Index">Regresar</a>
</div>
