@page
@model ActividadesSugeridasMomentos.Pages.ActividadesSugeridas.ActividadesSugeridasEstatus.CreateModel

@{
    ViewData["Title"] = "Create";
}


<h2>Crear nuevo Estatus </h2>

<div class="panel panel-primary">

    <div class="panel-heading">Información de la Actividad</div>
    <div class="panel-body">
        <p>Tema: @Model.Tema<</p>
        <p>Descripción: @Model.descripcion</p>
        <p>Tipo: @Model.tipo</p>
    </div>
</div>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">

                <input asp-for="eva_actividades_sug_estatus.IdTipoActividadSug" class="form-control" value="@Model.idTipo" readonly type="hidden">
            </div>
            <div class="form-group">
                <input asp-for="eva_actividades_sug_estatus.IdActividadSugerida" class="form-control" readonly value="@Model.idAct" type="hidden">
            </div>
            <div class="form-group">
                <label asp-for="eva_actividades_sug_estatus.IdTipoEstatus" class="control-label">Tipo Estatus</label>
                <select asp-for="eva_actividades_sug_estatus.IdTipoEstatus" class="form-control" asp-items="ViewBag.IdTipoEstatus">Tipo Estatus</select>
            </div>
            <div class="form-group">
                <label asp-for="eva_actividades_sug_estatus.FechaEstatus" class="control-label"></label>
                <input asp-for="eva_actividades_sug_estatus.FechaEstatus" class="form-control" readonly value="@Model.fecha" />
                <span asp-validation-for="eva_actividades_sug_estatus.FechaEstatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="eva_actividades_sug_estatus.Actual" class="control-label">
                    Actual
                    <input type="checkbox" asp-for="eva_actividades_sug_estatus.Actual" class="form-control" />
                </label>
                <span asp-validation-for="eva_actividades_sug_estatus.Actual" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="eva_actividades_sug_estatus.Observacion" class="control-label"></label>
                <input asp-for="eva_actividades_sug_estatus.Observacion" class="form-control" />
                <span asp-validation-for="eva_actividades_sug_estatus.Observacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-info btn-md active" role="button" asp-page="Index"
       asp-route-id="@Model.idAct">Regresar</a>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
