@page
@model ActividadesSugeridasMomentos.Pages.ActividadesSugeridas.ActividadesSugeridasEstatus.DetailsModel

@{
    ViewData["Title"] = "Details";
}


<h2>Detalles de Estatus de Actividades Sugeridas</h2>


<div>

    <hr />

    <dl>
        <dt>
            Fecha
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_actividades_sug_estatus.FechaEstatus)
        </dd>
        <dt>
            Actual
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_actividades_sug_estatus.Actual)
        </dd>
        <dt>
            Observación
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_actividades_sug_estatus.Observacion)
        </dd>
        <dt>
            Actividad
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_actividades_sug_estatus.ActividadesSugeridas.DesActividad)
        </dd>
        <dt>
            Tipo
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_actividades_sug_estatus.TipoActividadesSugeridas.DesTipoActividadSug)
        </dd>
        <dt>
            Estatus
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_actividades_sug_estatus.TiposEstatus.DesTipoEstatus)
        </dd>
    </dl>


</div>
<div>
    <a class="btn btn-default btn-md active" role="button" asp-page="./Edit" asp-route-id="@Model.eva_actividades_sug_estatus.IdEstatusDet">Editar</a> |
    <a class="btn btn-info btn-md active" role="button" asp-page="./Index" asp-route-id="@Model.idacti">Regresar</a>
</div>
